.localmessage3 {
    background-color: #afd8ff;
}

.localmessage0 {
    background-color: #ffd597;
}
.localmessage1 {
    background-color: #9dffa1;
}
.localmessage2 {
    background-color: #ff978e;
}
